:root {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  --fondo:#171711;
  --fondo-calculadora: #a78d9e;
  --textol: #000;
  --primario: #74819d;
  --secundario: #fef0a5;
  --terciario: #f38181;
  --box-shadow: 0 0 20px 10px #000000;
  background-color: var(--fondo);
  color: var(--textol);
}

* {
  margin: 0;
  padding: 0;
}
#root {
  height: 100vh;
  display: grid;
  place-items: center;
}
